<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.real.sniffer.signal</string>
    <key>ProgramArguments</key>
    <array>
        <string>kill</string>
        <string>-2</string>
        <string>$</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/pavelrukavishnikov/Desktop/App/OSX</string>
    </array>
</dict>
</plist>